Repository si-2019/SI-FRONTEND, pull requests merged in 2019-06, with the labels that each got.

#484 Mike - Sprint #7 - Asistent ima mogucnost prikaza grafickog interfejsa za bodovanje projekata
  reactapp/src/MIKE/api/bodovanje.js
  reactapp/src/MIKE/api/projekti_zadaci.js
  reactapp/src/MIKE/components/BodovanjeProjekataStudenti/BodovanjeProjekataStudenti.js
  reactapp/src/MIKE/components/BodovanjeProjekataStudenti/BodovanjeProjekataStudenti.test.js
  reactapp/src/MIKE/components/BodovanjeProjekataStudenti/RedTabele.js
  reactapp/src/MIKE/components/BodovanjeProjekataStudenti/TabelaGrupa.js
  reactapp/src/MIKE/components/DostupniPredmetiZaGrupu/DostupniPredmetiZaGrupu.js
  reactapp/src/MIKE/components/PregledZadatakaProjekta/PregledZadatakaProjekta.js
Labels: MIKE, Pushed

#505 Fox sprint7 ui fix2
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosBodova/UnosBodova.js
  reactapp/src/FOX/components/UnosOcjene/UnosOcjene.js
  reactapp/src/FOX/components/UnosTeme/TemeZavrsnih.js
Labels: FOX

#508 Student ima mogucnost prikaza grafickog interfejsa za kreiranje zadataka
  reactapp/src/MIKE/app.js
  reactapp/src/MIKE/components/Generisanje projektnih grupa/GenerisanjeGrupa.js
  reactapp/src/MIKE/components/Pregled projekata asistenta/PregledDetaljaPredmeta.js
  reactapp/src/MIKE/components/Pregled projekata asistenta/PrikazDetaljaProjektneGrupe.js
  reactapp/src/MIKE/components/Pregled projekata asistenta/PrikazListeProjektnihGrupa.js
  reactapp/src/MIKE/components/Pregled projekata asistenta/prikazListePredmetaAsistenta.js
Labels: Ready4Review

#516 Fox sprint7 unos prisustva
  reactapp/src/FOX/components/Ispiti/Ispiti.js
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.js
  reactapp/src/FOX/components/UnosPrisustvaSedmice/UnosPrisustvaSedmice.js
Labels: FOX

#547 Fox ui fix3.1
  reactapp/src/FOX/components/Footer/Footer.js
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/components/UnosTeme/IzmjeniTemu.js
  reactapp/src/FOX/components/UnosTeme/NovaTema.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
  reactapp/src/FOX/components/UnosTeme/TemeZavrsnih.js
Labels: FOX, Ready4Review

#588 Promijenjen izgled komponente za unos prisustva.
  reactapp/src/FOX/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.css
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.js
  reactapp/src/FOX/components/UnosPrisustvaSedmice/UnosPrisustvaSedmice.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
Labels: FOX

#635 Fox ui fix5
  reactapp/src/ALPHA/App.css
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Ispiti/Tabela.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosBodova/UnosBodova.js
  reactapp/src/FOX/components/UnosOcjene/UnosOcjene.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.js
  reactapp/src/FOX/components/UnosPrisustvaSedmice/UnosPrisustvaSedmice.js
  reactapp/src/FOX/components/UnosTeme/NovaTema.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
  reactapp/src/FOX/components/UnosTeme/TemeZavrsnih.js
Labels: FOX

#677 Fox ui fix5.1
  reactapp/package-lock.json
  reactapp/src/FOX/components/Footer/Footer.js
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Home/Home.js
  reactapp/src/FOX/components/Ispiti/Ispiti.js
  reactapp/src/FOX/components/Ispiti/Tabela.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosBodova/UnosBodova.js
  reactapp/src/FOX/components/UnosOcjene/UnosOcjene.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.js
  reactapp/src/FOX/components/UnosPrisustvaSedmice/UnosPrisustvaSedmice.js
  reactapp/src/FOX/components/UnosTeme/IzmjeniTemu.js
  reactapp/src/FOX/components/UnosTeme/NovaTema.js
  reactapp/src/FOX/components/UnosTeme/TemeZavrsnih.js
Labels: FOX

#580 FixUI
  reactapp/src/FOX/components/UnosBodova/UnosBodova.js
Labels: FOX, Ready4Review

#735 Fox api fix
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Ispiti/Ispiti.js
  reactapp/src/FOX/components/Ispiti/StudentiTabela.js
  reactapp/src/FOX/components/Ispiti/Tabela.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/Poruka/Poruka.js
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/ReturnButton/ReturnButton.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.js
  reactapp/src/FOX/components/UnosTeme/IzmjeniTemu.js
  reactapp/src/FOX/components/UnosTeme/NovaTema.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
Labels: FOX

#743 Fox api fix
  reactapp/src/FOX/FOXv4/components/App/app.js
  reactapp/src/FOX/FOXv4/components/DanDatum/DanDatum.js
  reactapp/src/FOX/FOXv4/components/Dobrodosli/Dobrodosli.js
  reactapp/src/FOX/FOXv4/components/Footer/Footer.js
  reactapp/src/FOX/FOXv4/components/Footer/index.css
  reactapp/src/FOX/FOXv4/components/Headers/Header1.js
  reactapp/src/FOX/FOXv4/components/Headers/Header2.js
  reactapp/src/FOX/FOXv4/components/Headers/index.css
  reactapp/src/FOX/FOXv4/components/Navbar/Navbar1.js
  reactapp/src/FOX/FOXv4/components/Navbar/Navbar2.js
  reactapp/src/FOX/FOXv4/components/Navbar/index.css
  reactapp/src/FOX/FOXv4/components/Pocetna/Pocetna.js
  reactapp/src/FOX/FOXv4/components/Pocetna/index.css
  reactapp/src/FOX/FOXv4/components/Predmet/Predmet.css
  reactapp/src/FOX/FOXv4/components/Predmet/Predmet.js
  reactapp/src/FOX/FOXv4/components/ReturnButton/ReturnButton.js
  reactapp/src/FOX/FOXv4/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/FOXv4/components/Stranice/Ankete.js
  reactapp/src/FOX/FOXv4/components/Stranice/Chat.js
  reactapp/src/FOX/FOXv4/components/Stranice/Forum.js
  reactapp/src/FOX/FOXv4/components/Stranice/Ispiti.js
  reactapp/src/FOX/FOXv4/components/Stranice/Materijali.js
  reactapp/src/FOX/FOXv4/components/Stranice/Obavijesti.js
  reactapp/src/FOX/FOXv4/components/Stranice/Raspored.js
  reactapp/src/FOX/FOXv4/components/Stranice/Statistika.js
  reactapp/src/FOX/FOXv4/components/Stranice/Student.js
  reactapp/src/FOX/FOXv4/components/Stranice/UnosPodataka.js
  reactapp/src/FOX/FOXv4/components/Stranice/Zadace.js
  reactapp/src/FOX/FOXv4/components/Stranice/index.css
  reactapp/src/FOX/FOXv4/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/FOXv4/mock/mock.js
  reactapp/src/FOX/NavBarStranice/Profesori001.js
  reactapp/src/FOX/components/Greska/Greska.js
  reactapp/src/FOX/components/NavBarStranice/ankete001.js
  reactapp/src/FOX/components/NavBarStranice/chat001.js
  reactapp/src/FOX/components/NavBarStranice/forum001.js
  reactapp/src/FOX/components/NavBarStranice/ispiti001.js
  reactapp/src/FOX/components/NavBarStranice/materijali001.js
  reactapp/src/FOX/components/NavBarStranice/obavijesti001.js
  reactapp/src/FOX/components/NavBarStranice/raspored001.js
  reactapp/src/FOX/components/NavBarStranice/statistika001.js
  reactapp/src/FOX/components/NavBarStranice/student001.js
  reactapp/src/FOX/components/NavBarStranice/unos_podataka001.js
  reactapp/src/FOX/components/NavBarStranice/zadace001.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
  reactapp/src/FOX/components/UnosTeme/IzmjeniTemu.js
  reactapp/src/FOX/components/UnosTeme/NovaTema.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
Labels: FOX

#745 Dodana provjera privilegija na početnu stranicu modula
  reactapp/package-lock.json
  reactapp/src/FOX/components/Home/Home.js
  reactapp/src/FOX/components/Ispiti/StudentiTabela.js
  reactapp/src/FOX/components/Ispiti/Tabela.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/PocetnaStranica/PozdravnaPoruka.js
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/components/UnosTeme/NovaTema.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
  reactapp/src/FOX/index.js
Labels: FOX

#748 Fox unit tests
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.test.js
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/Ocjena/Ocjena.test.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.test.js
  reactapp/src/FOX/components/UnosBodova/UnosBodova.js
  reactapp/src/FOX/components/UnosBodova/UnosBodova.test.js
  reactapp/src/FOX/components/UnosOcjene/UnosOcjene.js
  reactapp/src/FOX/components/UnosOcjene/UnosOcjene.test.js
Labels: FOX

#758 Fox autorizacija
  reactapp/src/FOX/components/Ocjena/Ocjena.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
Labels: FOX
