Repository si-2019/SI-FRONTEND, pull requests merged in 2019-05, with the labels that each got.

#147 Fox reorganizacija
  reactapp/package-lock.json
  reactapp/src/App.js
  reactapp/src/FOX/Obavijesti.js
  reactapp/src/FOX/Predmet.js
  reactapp/src/FOX/TabelaStudenti.js
  reactapp/src/FOX/components/App/App.test.js
  reactapp/src/FOX/components/App/app.js
  reactapp/src/FOX/components/DanDatum/DanDatum.js
  reactapp/src/FOX/components/Footer/Footer.js
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/NavBarStranice/ankete001.js
  reactapp/src/FOX/components/NavBarStranice/chat001.js
  reactapp/src/FOX/components/NavBarStranice/forum001.js
  reactapp/src/FOX/components/NavBarStranice/ispiti001.js
  reactapp/src/FOX/components/NavBarStranice/materijali001.js
  reactapp/src/FOX/components/NavBarStranice/obavijesti001.js
  reactapp/src/FOX/components/NavBarStranice/raspored001.js
  reactapp/src/FOX/components/NavBarStranice/statistika001.js
  reactapp/src/FOX/components/NavBarStranice/student001.js
  reactapp/src/FOX/components/NavBarStranice/unos_podataka001.js
  reactapp/src/FOX/components/NavBarStranice/zadace001.js
  reactapp/src/FOX/components/Navbar/Navbar.css
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/Predmet/Predmet.css
  reactapp/src/FOX/components/Predmet/Predmet.js
  reactapp/src/FOX/components/ReturnButton/ReturnButton.js
  reactapp/src/FOX/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/index.js
Labels: FOX

#201 Dodan Fadilov folder Foxv4
  reactapp/src/FOX/FOXv4/components/App/app.js
  reactapp/src/FOX/FOXv4/components/DanDatum/DanDatum.js
  reactapp/src/FOX/FOXv4/components/Dobrodosli/Dobrodosli.js
  reactapp/src/FOX/FOXv4/components/Footer/Footer.js
  reactapp/src/FOX/FOXv4/components/Footer/index.css
  reactapp/src/FOX/FOXv4/components/Headers/Header1.js
  reactapp/src/FOX/FOXv4/components/Headers/Header2.js
  reactapp/src/FOX/FOXv4/components/Headers/index.css
  reactapp/src/FOX/FOXv4/components/Navbar/Navbar1.js
  reactapp/src/FOX/FOXv4/components/Navbar/Navbar2.js
  reactapp/src/FOX/FOXv4/components/Navbar/index.css
  reactapp/src/FOX/FOXv4/components/Pocetna/Pocetna.js
  reactapp/src/FOX/FOXv4/components/Pocetna/index.css
  reactapp/src/FOX/FOXv4/components/Predmet/Predmet.css
  reactapp/src/FOX/FOXv4/components/Predmet/Predmet.js
  reactapp/src/FOX/FOXv4/components/ReturnButton/ReturnButton.js
  reactapp/src/FOX/FOXv4/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/FOXv4/components/Stranice/Ankete.js
  reactapp/src/FOX/FOXv4/components/Stranice/Chat.js
  reactapp/src/FOX/FOXv4/components/Stranice/Forum.js
  reactapp/src/FOX/FOXv4/components/Stranice/Ispiti.js
  reactapp/src/FOX/FOXv4/components/Stranice/Materijali.js
  reactapp/src/FOX/FOXv4/components/Stranice/Obavijesti.js
  reactapp/src/FOX/FOXv4/components/Stranice/Raspored.js
  reactapp/src/FOX/FOXv4/components/Stranice/Statistika.js
  reactapp/src/FOX/FOXv4/components/Stranice/Student.js
  reactapp/src/FOX/FOXv4/components/Stranice/UnosPodataka.js
  reactapp/src/FOX/FOXv4/components/Stranice/Zadace.js
  reactapp/src/FOX/FOXv4/components/Stranice/index.css
  reactapp/src/FOX/FOXv4/components/TabelaStudenti/TabelaStudenti.js
  reactapp/src/FOX/FOXv4/mock/mock.js
Labels: FOX, Ready4Review

#206 Fox sprint4 us63
  reactapp/src/FOX/components/App/app.js
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Navbar/Navbar.css
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
Labels: FOX, Ready4Review

#221 Dodana forma za unos prisustva za sve studente
  reactapp/src/FOX/components/Greska/Greska.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
Labels: FOX, Ready4Review

#280 Fox sprint5 us70
  reactapp/package-lock.json
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.test.js
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.css
  reactapp/src/FOX/components/UnosPrisustvaForma/UnosPrisustvaForma.js
Labels: FOX, Ready4Review

#351 Kreirana stranica Teme zavrsnih i uradjeno rutiranje
  reactapp/package-lock.json
  reactapp/src/App.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/UnosTeme/TemeZavrsnih.js
Labels: FOX

#353 Fox sprint6 us105
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/UnosTeme/TabelaTeme.js
  reactapp/src/FOX/components/UnosTeme/TemeZavrsnih.js
Labels: FOX

#291 Sprint #5 - Student ima mogućnost prikaza grafičkog interfejsa zadatka kako bi pristupio detaljima zadatka
  reactapp/package-lock.json
  reactapp/src/MIKE/app.js
  reactapp/src/MIKE/components/PregledZadatakaProjekta/PregledZadatakaProjekta.js
  reactapp/src/MIKE/components/PregledZadatakaProjekta/PregledZadatakaProjekta.test.js
  reactapp/src/MIKE/components/PregledZadatakaProjekta/komponenta.css
Labels: MIKE, Ready2Push

#361 Urađeno lokalno rutiranje u folderu FOX
  reactapp/src/App.js
  reactapp/src/FOX/components/App/app.js
  reactapp/src/FOX/components/Home/Home.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/Predmet/Predmet.js
Labels: FOX, Ready4Review

#362 Sprint #3- Asistent ima mogucnost pregleda detalja predmeta na kojem je asistent
  reactapp/src/MIKE/app.js
  reactapp/src/MIKE/components/PregledDetaljaPredmeta/PregledDetaljaPredmeta.js
  reactapp/src/MIKE/components/PregledDetaljaPredmeta/PregledDetaljaPredmeta.test.js
Labels: Ready4Review

#392 Mike - Student ima mogucnost prikaza grafickog interfejsa za izbor predmeta radi kreiranja projektne grupe
  reactapp/src/MIKE/api/projekti_zadaci.js
  reactapp/src/MIKE/app.js
  reactapp/src/MIKE/components/DostupniPredmetiZaGrupu/DostupniPredmetiZaGrupu.js
  reactapp/src/MIKE/components/DostupniPredmetiZaGrupu/DostupniPredmetiZaGrupu.test.js
  reactapp/src/MIKE/components/PregledZadatakaProjekta/PregledZadatakaProjekta.js
Labels: MIKE, Ready4Review

#386 Fox US80
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
  reactapp/src/FOX/components/UnosBodova/UnosBodova.js
Labels: FOX, Ready4Review

#400 Fox us82
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
Labels: FOX, Ready4Review

#404 Fox US78
  reactapp/src/FOX/Obavijesti.js
  reactapp/src/FOX/components/App/app.js
  reactapp/src/FOX/components/Obavijesti/Obavijesti.js
  reactapp/src/FOX/components/TabelaUnosa/TabelaUnosa.js
Labels: FOX, Ready4Review

#364 Sprint #5- student ima mogućnost prikaza grafičkog interfejsa za unos podataka o projektu kako bi mogao pristupiti unosu podataka
  reactapp/src/BETA/komponente/Student/issueList.js
  reactapp/src/HOTEL/kreiranje/SingleChoice.js
  reactapp/src/HOTEL/kreiranje/app.js
  reactapp/src/HOTEL/kreiranje/tests/singlechoice.test.js
  reactapp/src/MIKE/app.js
  reactapp/src/MIKE/components/UnosPodatakaONovomProjektu/UnosPodatakaONovomProjektu.js
  reactapp/src/MIKE/components/UnosPodatakaONovomProjektu/UnosPodatakaONovomProjektu.test.js
Labels: Ready4Review

#460 Sprint #7 - Student ima mogućnost prikaza grafičkog interfejsa za dodavanje fajlova
  reactapp/package-lock.json
  reactapp/package.json
  reactapp/src/MIKE/components/RadNaProjektu/UploadFiles/UploadFiles.js
  reactapp/src/MIKE/components/RadNaProjektu/UploadFiles/UploadFiles.test.js
  reactapp/src/MIKE/components/RadNaProjektu/UploadFiles/komponenta.css
Labels: MIKE

#475 Fox sprint7 ui fix
  reactapp/src/FOX/ZajednickiCSS.css
  reactapp/src/FOX/components/Footer/Footer.js
  reactapp/src/FOX/components/Header/Header.js
  reactapp/src/FOX/components/Navbar/Navbar.js
  reactapp/src/FOX/components/ReturnButton/ReturnButton.js
  reactapp/src/FOX/components/StranicaPredmeta/StranicaPredmeta.js
  reactapp/src/FOX/components/UnosPrisustva/UnosPrisustva.js
Labels: FOX
